

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
    .section {
         padding-top: 120px;
        padding-bottom: 120px;
        }


/* ===== SOCIAL ===== */

.social-link-section:hover,
.social-link-section:focus {
    background-color: var(--focus-color-section);
}


.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--focus-color-footer);
}

/* ===== /SOCIAL ===== */
/* ===== PORTFOLIO ===== */


.works-list-link:hover .overlay {
    transform: translateY(0%);
}

.works-list-link:focus .overlay {
    transform: translateY(0%);
}

.works-item {
    width: 360px;
}


/* ===== /PORTFOLIO ===== */

}






@media screen and (min-width: 1158px) {
    .contact-list {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
    
        }


/* ===== HEADER ===== */

.contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}

.logo:hover,
.logo:focus {
    color: #404bbf;
}



/* ===== /HEADER ===== */

/* ===== HERO ===== */

.hero {
    padding: 188px 0;
}

 .hero-button:hover,
 .hero-button:focus {
     background-color: #404BBF;
 }

/* ===== /HERO ===== */

/* ===== MARKETING ===== */

.marketing-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.marketing-text {
    font-weight: 400;

}

.marketing-list {
    
    gap: 24px;
}


.marketing-card {
    width: 264px;
    height: 112px;
    flex-shrink: 0;

    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--white-text-color);

    display: flex;
    align-items: center;
    justify-content: center;

}

.marketing-item {
    width: calc((100% - 72px) / 4);

}
/* ===== /MARKETING ===== */

/* ===== OUR PRODUCTS ===== */

.section-marketing {
    padding-bottom: 120px;
}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 72px;
}


.products-list {
    display: flex;
    gap: 24px;
}

/* ===== /OUR PRODUCTS ===== */

/* ========SECTION-OUR-TEAM======== */

/* ========/SECTION-OUR-TEAM======== */

/* ===== CUSTOMERS ===== */

.customers-link:hover,
.customers-link:focus {
    color: var(--focus-color-customers);
    border: 1px solid var(--focus-color-customers);
}

/* ======== /CUSTOMERS ======== */

/* ===== FOOTER ===== */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;

}

.footer-container {
   
    align-items: baseline;
    width: 1158px;
    flex-wrap: nowrap;
}


.footer-logo {
    margin-right: 120px;
    margin-bottom: 0px;
}


.footer-subscribe {
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;

}


.subscribe-form {
    display: flex;
    
}



/* ===== /FOOTER ===== */
}


